{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div {{ react_component('Nav') }}></div>
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="">
			<div {{ react_component('FormLogin') }}></div>
		</div>
		<div class="flex items-center justify-center mt-11">
			<p>Vous n'êtes pas inscrit ?
				<a href="{{ path('app_register') }}" class=" text-blue-500 hover:underline">Cliquez ici</a>
			</p>
		</div>
	</form>
{% endblock %}
